// Navbar.module.scss


.header {
  width: 100%;
  display: flex;
  padding: 2vh 7vw;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.auth-links {
  display: flex;  /* This is the flex container */
  align-items: center;
  justify-content: space-between; /* Apply here to distribute buttons */
}

.authBtn {
  /* Styles for your buttons */
  background-color: #6bd0ff;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 13px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}

.signUpBtn:hover {
  background-color: #4ce4ff;
}

.loginBtn {
  background-color: #6bd0ff;
  color: black;
  padding: 5px 15px;
  font-size: 13px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #4ce4ff;
}






