.header {
  padding: 2vh 7vw;
  left: 0;
  right: 0;

  .logo {
    max-width: 100px;

    @media screen and (min-width: 992px) {
      width: 120px;
      max-width: none;
    }
  }
}

.navbar {
  margin: 0;
}

.nav-links {
  gap: 25px;
}

.auth-links {
  gap: 25px;
}

.signUpBtn {
  background-color: #6bd0ff;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 13px;
  border: none;
  border-radius: 6px;

  &:hover {
    background-color: #4ce4ff;
  }

}

.loginBtn {
  color: black;
  padding: 5px 15px;
  font-size: 13px;
  border: 1px solid #6bd0ff;
  border-radius: 6px;

  &:hover {
    background-color: #4ce4ff;
  }
}

.hamburger {
  width: 24px;
  color: #6bd0ff;

  &:hover {
    opacity: 0.4;
  }
}